body {
    font-family: Century Schoolbook;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #b3c4eb;
    color: #000000;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-family: Sunday Best;
    color: #ffffff;
}

nav .menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav .menu > li {
    position: relative;
    margin: 0 1em;
}

nav .menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 0.5em;
}

nav .menu .submenu {
    display: none;
    list-style: none;
    position: absolute;
    background-color: #f8d2e8;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    width: max-content;
}

nav .menu .submenu li {
    margin: 0;
}

nav .menu .submenu a {
    padding: 0.5em 1em;
    white-space: nowrap;
}

nav .menu li:hover > .submenu {
    display: block;
}

main {
    padding: 2em;
}

.categoria {
    margin: 2em 0;
    padding: 2em;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.categoria:hover {
    transform: scale(1.05);
}

 footer {
            text-align: center;
            padding: 10px 0;
            background-color: #333;
            color: #fff;
            margin-top: 20px;
        }
